* {
  margin: 0;
  padding: 0.25rem;
  box-sizing: border-box;
}

body {
  background-color: #3f3f3f;
  color: #ffff;
  display: grid;
  place-content: center;
  font-size: 150%;
}

button {
  font-size: 2rem;
}

.bold {
  font-weight: bold;
}

.green {
  color: green;
}