.wrapper-count {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 30vh;
    margin: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
 }

.counter-container {
    display: flex;
    flex-direction: co;
    gap: 1.5rem;
    padding: 2rem;
    margin: 16px;
    text-align: center;
}

.content-counter{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 0.5rem;

}

.content-counter button {
    height: 24px;
    width: 100%;
    background: linear-gradient(45deg, #E0FFFF, #87CEEB);
    font-weight: 600;
    border: none;
}

.countText {
    color: #87CEEB;
    font-size: 30px;
}

button {
    cursor: pointer;
}

